# from CLIJ2

/target/
/.idea/
*.iml
CLIJ*.txt

# temporary files
*.log
*~*
*.swp

# Maven 
target/

# Eclipse 
.classpath
.project
.settings/
/.metadata
/.recommenders

# vscode 
.vscode/

# binaries 
*.class
*.exp
*.obj
*.o

# java cpp
cppbuild

# CMake 
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
*.cmake
install_manifest.txt
compile_commands.json

# build directories
bin/
build/
__pycache__/

# python
*.pyc
*.pyo
*.egg-info
python/dist
python/lib

