
Plugins>ImageJ on GPU (CLIJx)>Filter, "Richardson-Lucy Deconvolution (using clFFT, experimental)", net.haesleinhuepf.clijx.plugins.DeconvolveRichardsonLucyFFT
Plugins>ImageJ on GPU (CLIJx)>Filter, "Normalize (experimental)", net.haesleinhuepf.clijx.plugins.Normalize
Plugins>ImageJ on GPU (CLIJx)>Filter, "Convolve FFT (experimental)", net.haesleinhuepf.clijx.plugins.ConvolveFFT
Plugins>ImageJ on GPU (CLIJx)>Filter, "Forward FFT (experimental)", net.haesleinhuepf.clijx.plugins.ForwardFFT
Plugins>ImageJ on GPU (CLIJx)>Filter, "Inverse FFT (experimental)", net.haesleinhuepf.clijx.plugins.InverseFFT
